<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>DETTAGLI AZIENDA</h3>
		</div>
		</div>

		<div class="row spazio_fondo">
		<#if azienda ??>
			<div class="col-md-12">
    <div class="table-responsive panel">
      <table class="table">
             <tbody>
             
             	<tr>
					   <td class="testo"><i class="glyphicon glyphicon-chevron-right"></i> Numero</td>
			           <td>${azienda.numero}</td>
			       </tr>
				   <tr>
					   <td class="testo"><i class="glyphicon glyphicon-user"></i> Ragione Sociale</td>
			           <td>${azienda.nome}</td>
			       </tr>
				   <tr>
					   <td class="testo"><i class="glyphicon glyphicon-home"></i> Comune</td>
					   <td>${azienda.comune}</td>
			       </tr>
			       <tr>
			           <td class="testo"><i class="glyphicon glyphicon-bookmark"></i> Legale Rappresentante</td>
			           <td>${azienda.rappresentante}</td>
		           </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-briefcase"></i> Sede Legale</td>
			           <td>${azienda.sede_legale}</td>
			       </tr>
			       <tr>
				       <td class="testo"><i class="glyphicon glyphicon-briefcase"></i> Sede Operativa</td>
		               <td>${azienda.sede_operativa}</td>
			       </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-list-alt"></i> Codice Fiscale</td>
				       <td>${azienda.codice_fiscale}</td>
			       </tr>
			       <tr>
					   <td class="testo"><i class="glyphicon glyphicon-barcode"></i> P.IVA</td>
				       <td>${azienda.iva}</td>
				   </tr>
				   <tr>
			           <td class="testo"><i class="glyphicon glyphicon-envelope"></i> Indirizzo Mail</td>
				       <td>${azienda.email}</td>
				   </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-envelope"></i> Indirizzo PEC</td>
			           <td>${azienda.pec}</td>
			      </tr>
		          <tr>
		               <td class="testo"><i class="glyphicon glyphicon-phone"></i> Cellulare</td>
			           <td>${azienda.cellulare}</td>
			      </tr>
		          <tr>
			           <td class="testo"><i class="glyphicon glyphicon-phone-alt"></i> Telefono Fisso</td>
		               <td>${azienda.telefono}</td>
				  </tr>
		          <tr>
			           <td class="testo"><i class="glyphicon glyphicon-stats"></i> Classificazione Ateco</td>
		               <td>${azienda.ateco}</td>
				  </tr>
				  <tr>
			           <td class="testo"><i class="glyphicon glyphicon-calendar"></i> Scadenza Audit Commerciale</td>
		              <#if azienda.getIdArea()==1> <td>${azienda.auditc}</td></#if>
		              <#if azienda.getIdArea()==3  &&  azienda.getNuovoAuditc()!="1-gen-0001"?date> <td>${azienda.getNuovoAuditc()}</td>
		              <#else>
		                <td></td>
		                </#if>
				  </tr>
				  <tr>
			           <td class="testo"><i class="glyphicon glyphicon-calendar"></i> Scadenza Audit Tecnico</td>
		               <#if azienda.getIdArea()==1> <td>${azienda.auditt}</td></#if>
		              <#if azienda.getIdArea()==3 &&  azienda.getNuovoAuditt()!="1-gen-0001"?date>
		               <td>${azienda.getNuovoAuditt()}</td>
		               <#else>
		                <td></td>
		                </#if>
				  </tr>
				  <tr>
					   <td class="testo"><i class="glyphicon glyphicon-tag"></i> Eventuali</td>
			           <td>${azienda.eventuali}</td>
			       </tr>
				  
			     
			      
		        </tbody>
             </table>
                                                
          </div>
 		</div>
		<a class="btn btn-default" href="Formazione" role="button"><h3 class="testo">AREA FORMAZIONE</h3></a>
		<a class="btn btn-default" href="AzioneNote" role="button"><h3 class="testo">NOTE</h3></a>
		<#if azienda.getIdArea()==1>
		<a class="btn btn-default" href="DocSicurezza" role="button"><h3 class="testo">DOC. SICUREZZA</h3></a>
		</#if>
		<#if azienda.getIdArea()==3>
		<a class="btn btn-default" href="DocPrivacy" role="button"><h3 class="testo">DOC. PRIVACY</h3></a>
		</#if>
		</#if>
       </div>

</div>
<br><br><br>

<#include "footer.html">