<#include "headerhome.html">

		<div class="row">
		<div class="col-md-12">
			<center><h2>Note</h2></center>
		<form class="form-horizontal" method="POST" action="Note">
		  <div class="form-group">
		  	<div class="col-sm-offset-2 col-sm-8">

		  	<table class="table table-striped" id="table-responsive">
		  <thead>
		    <tr>
		      <th scope="col" class="mod1">Data</th>
		      <th scope="col" class="mod2">Nota</th>
		      <th scope="col" class="mod">Modifica</th>
		      <th scope="col" class="mod">Elimina</th>
		    </tr>
		  </thead>
		  <tbody>
		  <#if note ??>
		   <#list note as Note>
		   <tr>
		      <td class="mod1">${Note.data}</td>
		      <td class="mod2">${Note.testo}</td>
		      <td class="mod"><a href="ModificaNota?id=${Note.id}"><img class="icona" src="Template/img/modifica.png"></a></td>
		      	  		<!-- Trigger/Open The Modal -->
			  		<td class="mod">
			  		<button type="button"  data-toggle="modal" data-target="#exampleModal-${Note.id}">
			  		<img src="Template/img/elimina.png" class="icona">
			  		</button>
			  		
									  	
<!-- Modal -->

<div class="modal fade" id="exampleModal-${Note.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ELIMINA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare questo elemento?
      </div>
      <div class="modal-footer">
      
        <button type="submit" name="tasto" value="si" class="btn btn-secondary">SI</button>
         <input type="hidden" name="id" value="${Note.id}">
        <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>

					
			  		</td>
		    </tr>
		    </#list>
		    </#if>
		  </tbody>
		</table>


		  		<br><br>
		      <textarea class="form-control" rows="3" placeholder="Scrivi qui le tue note" name="testo"></textarea>
		    </div>
		  </div>
		    <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-8">
		      <button type="submit" class="btn btn-default">INSERISCI</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
</div>


<#include "footer.html">